.timeline-list {
    text-align: center;
    margin-top: 175px;
}

.timeline-list > li {
    margin: 50px;
}

.timeline-list > li > p {
    font-weight: bold;
    font-size: large;
}

.timeline-list > li > a > img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}

.timeline-list > li > a > img:hover {
    cursor: pointer;
    width: 210px;
    height: 210px;
}

.events-list {
    text-align:center;
}

.events-list > li {
    margin: 10px;
}

.events-list > li > a > div {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 25px;
}

#content-panel {
    text-align:center;
}