.timeline-list {
    text-align: center;
    margin-top: 175px;
}

.timeline-list > li {
    margin: 50px;
}

.timeline-list > li > p {
    font-weight: bold;
    font-size: large;
}

.timeline-list > li > a > img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}

.timeline-list > li > a > img:hover {
    cursor: pointer;
    width: 210px;
    height: 210px;
}

.events-list {
    text-align:center;
}

.events-list > li {
    margin: 10px;
}

.events-list > li > a > div {
    width: 25px;
    height: 25px;
    background-color: #2c3e50;;
    border-radius: 25px;
}

.contents-list {
    text-align: center;
}

.contents-list > li {
    margin: 15px;
}

.contents-list > li > a > div {
    width: 200px;
    height: 500px;
    background-color:#641111;
}

#content-panel {
    text-align: center;
}

.navbar-default {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    background-color: #283746
}



body {
    background-color: #1abc9c;
}